a:default{
    color: #000000;
}
a:hover {
    color: green;
    text-decoration: underline;
}
a{
    text-decoration: none;
    display: grid;
}
a:visited{
    color: orangered;
}
a:active{
    color: red;
}